<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
	<globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors defaultRedirect="erro.aspx" mode="On">
      <error statusCode="403" redirect="/erro.aspx"/>
      <error statusCode="404" redirect="/erro.aspx"/>
      <error statusCode="500" redirect="/erro.aspx"/>
    </customErrors>
    <authentication mode="Forms">
      <forms name="loginWEB" loginUrl="login.aspx"/>
    </authentication>
    <sessionState timeout="1"/>
  </system.web>
  <connectionStrings>
    <add name="dboportunidadesBH" connectionString="Data Source=.;Initial Catalog=gestaodetalento;Persist Security Info=True;User ID=sa;Password=*************" providerName="System.Data.SqlClient"/>
    <add name="dboportunidadesBH_MSDB" connectionString="Persist Security Info=False;Data Source=.;Initial Catalog=msdb;User Id=sa;Password=*************" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="_candidato">
    <system.web>
      <authorization>
        <allow users="Candidato"/>
        <deny users="*"/>
      </authorization>
      <pages validateRequest="false"/>
    </system.web>
  </location>
  <location path="_departamento">
    <system.web>
      <authorization>
        <allow users="Departamento"/>
        <deny users="*"/>
      </authorization>
      <pages validateRequest="false"/>
    </system.web>
  </location>
  <location path="_empresa">
    <system.web>
      <authorization>
        <allow users="Empresa"/>
        <deny users="*"/>
      </authorization>
      <pages validateRequest="false"/>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>